<html>
    <head>
        <title> Home </title>
        <link rel='stylesheet' href='static/css/style.css'>
        <script src='static/js/main.js'></script>
    </head>
    <body>
        <h1> Welcome to the T-Shirt Shop </h1>
        <form action="survey-results" method="get">
            what is your chest size?
            <input type="text" name="chest"/>
            <br/>
            what is your sleeve size?
            <input type="text" name="sleeve"/>
            <br/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>